/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}

.heroes li {
  display: flex;
}
/* Seleciona todos os botões que estão dentro de um elemento com a classe heroes*/
.heroes button { 
  flex: 1;
  cursor: pointer; /*faz um mouse virar uma mãozinha, ou seja, botão clicável */ 
  position: relative;
  left: 0;
  background-color: #eeb3cf; /*Da uma cor cinza claro ao botão*/
  margin: .5em;
  padding: 0;
  border-radius: 4px;
  display: flex;
  align-items: stretch;
  height: 1.8em; /*1.8 vezes o tamanho da letra*/
}

.heroes button:hover {
  color: #70003e;
  background-color: #9c3167;
  left: .1em;
}

.heroes button:active {
  background-color: #810141;
  color: #fafafa;
}

.heroes button.selected {
  background-color: rgb(110, 0, 52);
  color: white;
}

.heroes button.selected:hover {
  background-color: #5aaf80;
  color: white;
}

.heroes button.selected:active {
  background-color: black;
  color: white;
}

.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #74005a;
  line-height: 1em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.heroes .name {
  align-self: center;}